/* assets/css/main.css */
.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}

/* Fade transition */
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

/* Slide transition */
.slide-enter-active,
.slide-leave-active {
  transition: all 0.4s;
}

.slide-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}

.slide-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* Scale transition */
.scale-enter-active,
.scale-leave-active {
  transition: all 0.4s;
}

.scale-enter-from {
  opacity: 0;
  transform: scale(0.95);
}

.scale-leave-to {
  opacity: 0;
  transform: scale(1.05);
}
