@import "@/assets/css/reset.css";
@import "@/assets/css/variable.css";
@import "@/assets/css/animation.css";

@media only screen and (min-width: 769px) {
  .mobile-only {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .desktop-only {
    display: none !important;
  }
}
