:root {
  --matter-zIndex: 9999;

  /* Color */
  --white: #ffffff;
  --black: #050505;
  --light-black: #61777d;
  --beige: #e3e3db;
  --gray: #dddee2;
  --dark-gray: #868a93;
  --icon-gray: #b9b9bb;

  --point-bg: #050a10;
  --layer-card-info-bg: #dedfe3f2;

  --green: #50c878;
  --dark-green: #008d62;

  --blue: #1f51ff;
  --dark-blue: #1660b3;

  /* Card */
  --card-aspect: 0.718;
  --card-radius: 4.55% / 3.5%;
}
